# Dependencies & dependency managers
node_modules/
.npmrc
yarn-error.log

# IDE & system
.idea

# Distribution builds
dist/

# Demo & documentation builds
demo/**/test-bundle.js*
demo/assets/*.js
demo/assets/*.js.map
demo-legacy/**/demo-bundle.js*
_demo/
