body {
    --bs-primary-rgb: 0, 123, 118;
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-link-hover-color: var(--bs-primary);
    --gh-frame-bg: rgba(var(--bs-primary-rgb), .85);

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 2rem;
    grid-template-rows: 4rem minmax(100vh, auto);
}

header {
    background-color: var(--gh-frame-bg);
    display: flex;
    grid-column-start: span 2;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header h2 {
    margin: 0;
}

main h2 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}

main pre[class*="language-"] {
    margin-bottom: 1em;
}

main {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

main.container {
    max-width: 80ch;
}

.example {
    width: 120%;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: 5rem;
    padding: 2rem;
    border: 2px solid #555;
    border-radius: 5px;
    position: relative;
}

.example::before {
    content: 'Example';
    background-color: #fff;
    position: absolute;
    top: -1.25em;
    right: 1rem;
    padding: .5em;
    font-variant: small-caps;
    font-size: 2em;
}

html[lang="de"] .example::before {
    content: "Beispiel";
}
