@use 'sass:color';
@use '../lib/variable-defaults' as defaults;

$button-color: defaults.$button-color !default;
$button-text-color: defaults.$button-text-color !default;
$button-hover-color: defaults.$button-hover-color !default;
$button-hover-text-color: defaults.$button-hover-text-color !default;
$secondary-button-color: defaults.$secondary-button-color !default;
$max-width: defaults.$max-width !default;
$font-size: defaults.$font-size !default;

.ghct-embed-placeholder {
    position: absolute;
    inset: 0;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    font-size: $font-size;
    justify-content: flex-end;
    max-height: 200vh;
    max-width: $max-width;
    opacity: 1;
    padding: 3em;
    //text-align: center;
    transition: all 500ms ease;
    z-index: 10;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    &.hidden {
        max-height: 1px;
        opacity: 0;
    }

    &__title {
        font-family: Bebasneue, sans-serif;
        font-size: 2.2em;
        font-weight: 400;
        line-height: 1;

        @media screen and (min-width: 678px) {
            font-size: 3.5em;
        }
    }

    &__content {
        color: #333;
        display: block;
        flex: 0 0 100%;
        flex-flow: column nowrap;
        font-family: Haufemerriweathersans, sans-serif;
        justify-content: center;
        overflow-y: auto;

        @media screen and (min-width: 576px) {
            display: flex;
            height: unset;
        }

        p {
            margin-bottom: 1em;
        }

        .form-check {
            margin-top: 1.2em;

            label {
                color: inherit;
            }

            input {
                cursor: pointer;
            }
        }
    }

    &__button {
        /* unstyle button */
        background: transparent;
        background-clip: padding-box;
        line-height: normal;
        text-align: left;
        text-decoration: none;
        text-shadow: none;
        white-space: nowrap;

        /* actual button styles */
        background-color: $button-color;
        border: 1px solid $button-color;
        border-radius: 6px;
        color: $button-text-color;
        cursor: pointer;
        margin-top: 1rem;
        padding: 1rem 1.6rem;
        transition: all 200ms ease;

        &:not(:first-child) {
            margin-left: 0.5rem;
        }

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &:hover {
            background-color: $button-hover-color;
            color: $button-hover-text-color;
        }

        &--secondary {
            background-color: $secondary-button-color;
            border: 1px solid $secondary-button-color;
            color: #000;

            &:hover {
                $secondary-hover-color: color.adjust(
                    $secondary-button-color,
                    $lightness: -10%
                );

                background-color: $secondary-hover-color;
                border-color: $secondary-hover-color;
                color: #000;
            }
        }
    }

    &--lightbox {
        @media screen and (min-width: 768px) {
            top: 200%;

            .ghwp-video-link:hover &,
            .ghct-video-link:hover & {
                top: 0;
            }
        }
    }

    &--lightbox &__content {
        background-color: rgb(0 0 0 / 90%);
        color: #eee;
        flex: 0 1 auto;
    }
}

.ghct-placeholder-container {
    .ghct-embed-placeholder {
        position: static;
    }
}
