@use '../lib/button';

.ghct-services {
    list-style-type: none;
    margin: 3rem 0;
}

.ghct-service {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    padding: 1rem 0;

    &:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    &__text {
        flex: 1 1 300px;
        display: flex;
        flex-flow: column nowrap;
    }

    &__name {
        font-family: sans-serif;
        font-weight: 700;
        margin-bottom: .5rem;
    }

    &__switch {
        display: flex;
        flex: 0 0 20px;
        align-items: flex-start;
        padding-left: 3rem;
        padding-right: .5rem;
    }

    &__description {}

    input {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.ghct-ls-provider-modal {
    .btn {
        @include button.button;
    }
}
