@use "../lib/variable-defaults" as defaults;

$modal-close-button-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b8b8b8' viewBox='0 0 16 16'%3E%3Cpath d='M2.697.657l12.728 12.728-2.122 2.121L.575 2.778z'/%3E%3Cpath d='M15.425 2.778L2.697 15.506.575 13.385 13.303.657z'/%3E%3C/svg%3E");

@mixin close-button-background() {
    background-image: $modal-close-button-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

// BLOCK: MODAL
// --------------------------------------------------------------------
$modal-bg: defaults.$modal-bg !default;
$modal-fg: defaults.$modal-fg !default;
$modal-content-padding: defaults.$modal-content-padding !default;
$modal-small-height: defaults.$modal-small-height !default;
$modal-small-width: defaults.$modal-small-width !default;
$modal-height: defaults.$modal-height !default;
$modal-width: defaults.$modal-width !default;

.ghct-modal {
    background-color: $modal-bg;
    color: $modal-fg;

    &--with-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background-color: rgba(0, 0, 0, 0.9);
        background-color: rgba(0,0,0, 0.7);
        padding: 5vh 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999;

        .ghct-modal__inner {
            padding: 2rem;
            background: $modal-bg;
            max-width: 100%;
            max-height: calc(100% - 10vh);
            overflow-x: auto;

            .ghct-embed-placeholder {
                position: static;
            }
        }

        @media screen and (min-width: 786px) {
            padding: 10vh 20vw;

            .ghct-modal__inner {
                max-height: calc(100% - 20vh);
            }
        }

        .ghct-modal__close {
            /* unstyle button */
            background: transparent;
            background-clip: padding-box;
            border: 0;
            border-radius: 0;
            color: inherit;
            line-height: normal;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-shadow: none;
            white-space: nowrap;

            /* actual close button styles */
            cursor: pointer;
            display: flex;
            height: 2rem;
            position: absolute;
            right: 3rem;
            top: 3rem;
            width: 2rem;
            @include close-button-background;

            &:hover,
            &:focus,
            &:active {
                @include close-button-background();
            }
        }
    }
}

body.modal-active {
    overflow: hidden;
}

.ghct-hide {
    display: none;
}
